package de.hochbahn.events;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

{{- range $import := .Imports }}
{{$import}}
{{- end}}
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{.Message.Name}} {
	{{- range $propertyName, $property := .Message.Schema.Properties}}
	private {{$property.Type}} {{$propertyName -}}
	{{- end}}

	{{- range $propertyName, $property := .Message.Schema.Properties}}
  		{{- if $property.Object}}
  @Data
  @Builder
  @NoArgsConstructor
  @AllArgsConstructor
  class {{$property.Object.Name}} {
  			{{- range $objPropertyName, $objProperty := $property.Object.Properties}}
  	private {{$objProperty.Type}} {{$objPropertyName -}}
  			{{- end}}
  }
  		{{- end}}
  	{{- end}}
}