package de.hochbahn.events;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

{{- range $import := .Imports }}
{{$import}}
{{- end}}

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{.Message.Name}} {
	{{ range $propertyName, $property := .Message.Schema.Properties}}
	{{- if $property.Default}}@Builder.Default{{- end}}
	private {{$property.Type}} {{$propertyName -}}{{- if $property.Default}} = {{$property.Default}} {{- end}};
	{{- end}}
}